.cart {
    margin: 100px 0px;
    background-color: #F6F5FA;;
    padding: 60px 0px;
}
.cart-item {
    background-color: #fff;
    padding: 15px 20px;
    border-radius: 10px;
   margin-bottom: 20px;
} 
.center-item {
    display: flex;
    align-items: center;
   
}
.cart img {
    width: 115px;
}
.cart-item h5 {
    padding-left: 30px;
}
.price-amount {
    padding-right: 55px;
}
.cart-item .remove-item {
    width: 25px;
    cursor: pointer;
}
.btn-default{
	background-color: #fff;
}
.cart-item .form-control {
    background-color: #F6F5FA;
    border: none;
    width: 65px;
    border-radius: 10px;
    font-weight: 700;
    font-size: 20px;
}
.input-group {
    width: unset;
}
.amount-list{
    text-align: right;
    padding-right: 70px;
}
#checking-btn {
    float: right;
}
#mobile-plus, #mobile-minus, #cover-plus, #cover-minus {
    font-size: 25px;
    font-weight: bold;
}